body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  /* font-family: "Kanit", sans-serif; */
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  width: 100%;
  /* font-family: "Kanit", sans-serif; */
  font-size: 20px;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid black; */
  height: 60px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  background-color: black;
  color: whitesmoke;
  position: fixed;
  z-index: 9999;
}

.header > p {
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

.image {
  width: 300px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  height: 75vh;
}

.home--content {
  width: 500px;
  /* font-family: "Kanit", sans-serif; */
  font-size: 20px;
  margin-left: 10px;
}

.skillset {
  width: 800px;
  align-items: center;
  margin: auto;
  /* box-shadow: 0px 0px 5px rgb(176, 170, 170);
  border-radius: 10px; */
}

.skillset > h1 {
  text-align: center;
}

.skill-set-open {
  grid-row: span 2;
  /* grid-column: span 2; */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 800px;
  justify-content: center;
  grid-gap: 20px;
}

.skill-header {
  display: flex;
  /* gap: 20px; */
  padding: 0px 20px 0px 20px;
}

.skill-name {
  margin: 0;
}

.work-experience {
  margin-top: 50px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.symbol {
  font-weight: bold;
  cursor: pointer;
  margin: 0px 0px 0px auto;
}
.footer {
  background-color: black;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#li-icon,
#git-icon {
  height: 40px;
  /* width: 60px; */
  padding: 0px 20px 0px 20px;
}
